<div class="new_story">

  <form action='/cats/id/stories' method='post'>

      <label name="title">Title</label>
      <input type="text" name="story[title]">

      <label name="name">Name</label>
      <textarea name="story[name]">
      
      <input type="submit" value="submit">
    </form>

</div>