<form action='/sessions' method='post'>

  <label name="username">Username</label>
  <input type="text" name="user[username]">

  <label name="email">Email</label>
  <input type="text" name="user[email]">
  
  <input type="submit" value="submit">
</form> 