<div class="container">
<h3>Drinking With My Cat</h3>
</div>

<div class="body-display">  
  <% @pic.each do |pic| %>
    <div class="cat">
      <p><%= pic.id %> </p>  
      <p><%= pic.title %> </p> 
      <p><img src= <%= pic.url %>> </p>
    </div>
  <% end %>
</div>  
