

<div class="body-display">  
  <% @pic.each do |pic| %>
    <div class="cat">
      <a href="/cats/<%= pic.id %>"> 
      <p><%= pic.title %> </p> 
      <p><img src= <%= pic.url %>> </p>
    </a> </div>
  <% end %>

  <% if loggin? %>
    <p><a href='/cats/new'>Add a pic</a></p>
  <% end %>
</div>  
