<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Drinking with my Cat</title>
</head>
<body>
  <header class='navbar'>
     <p><a href='/home'>Home</a></p>
      <p><a href='/users/new'>Join</a></p>
      <p><a href='/users/login'>Login</a></p>
      <p><a href='/users/logout'>Logout</a></p>
  </header>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
